<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
            <div class="form-group">
                <label for="username">Username</label>
                <input
                  formControlName="username"
                  type="text"
                  id="username"
                  class="form-control">
                  <span
                    *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched" 
                    class="help-block">
                    <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">This name is not permitted.</span>
                    <span *ngIf="signupForm.get('userData.username').errors['required']">This field is required.</span>
                  </span>

              </div>
              <div class="form-group">
                <label for="email">email</label>
                <input
                  formControlName="email"
                  type="text"
                  id="email"
                  class="form-control">
                  <span
                    *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched" 
                    class="help-block"> Enter a valid email. </span>
              </div>
        </div>

        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              formControlName="gender"
              type="radio"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your hobbies</h4>
          <button 
            class="btn btn-default" 
            type="button" 
            (click)="onAddHobby()">Add Hobby</button>
            <div 
              class="form-group"
              *ngFor="let hobbyControl of signupForm.get('hobbies').controls; let i = index;">
              <input
                [formControlName]="i"
                class="form-control" 
                type="text">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <span
              *ngIf="!signupForm.valid && signupForm.touched" 
              class="help-block"> Enter a valid data. </span>
      </form>
    </div>
  </div>
</div>
