<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button 
            type="submit"
            [disabled]="!recipeForm.valid" 
            class="btn btn-success">SAVE</button>
          <button type="button" class="btn btn-danger">CANCEL</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              formControlName="name" 
              class="form-control"
              type="text" 
              id="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              formControlName="imagePath" 
              class="form-control"
              type="text" 
              id="imagePath">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <img src="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              rows="6"
              formControlName="description"  
              type="text"
              id="description"
              class="form-control">
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div 
            class="row"
            *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index;" 
            style="margin-top: 10px;"
            [formGroupName]="i">
            <div class="col-xs-8">
              <input 
                type="text"
                formControlName="name"
                class="form-control">
            </div>
            <div class="col-xs-2">
              <input 
                type="number"
                formControlName="amount"
                class="form-control">
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-xs-12">
            <button 
              type="button"
              (click)="onAddIngredient()" 
              class="btn btn-success">Add Ingredient</button>
          </div>
        </div>
  </form>
  </div>
</div>